:root {
  --primary-color: black;
  --secondary-color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-bottom: 60px;
}

.hero-slider {
  margin: 0 !important;
  padding: 2px;
  /** Autoplay toggle button in the top left corner */
  /** Custom previous and next arrows in the top right corner */
  /** Default slide navigation dots */
  /** Slide content */
}
.hero-slider .slick-autoplay-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: auto;
  background: none;
  border: 0;
  z-index: 10;
  font-size: 32px;
  opacity: 1;
  cursor: pointer;
  color: black;
}
.hero-slider .slick-autoplay-toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.hero-slider .slick-autoplay-toggle-button:focus {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.hero-slider .custom-prev-button,
.hero-slider .custom-next-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: block;
  float: left;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 32px;
  cursor: pointer;
}
.hero-slider .custom-prev-button:hover,
.hero-slider .custom-next-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.hero-slider .custom-prev-button:focus,
.hero-slider .custom-next-button:focus {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.hero-slider .custom-prev-button {
  right: 30px;
}
.hero-slider .slick-dots {
  bottom: 20px;
}
.hero-slider .slick-slide {
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  /** Float text overlay */
}
.hero-slider .slick-slide .overlay {
  position: absolute;
  width: 30%;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .hero-slider .slick-slide .overlay {
    width: 80%;
    left: 0 !important;
    top: 100px !important;
    text-align: left;
  }
}
.hero-slider .slick-slide .overlay h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}
.hero-slider .slick-slide .overlay p {
  font-size: 14px;
}
.hero-slider .slick-slide .overlay .primary-link {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 15px;
  border: 2px solid black;
  font-weight: bold;
  transition: outline 0.1s linear;
}
.hero-slider .slick-slide .overlay .primary-link:hover, .hero-slider .slick-slide .overlay .primary-link:focus {
  text-decoration: underline;
  background-color: black;
  color: white;
}
.hero-slider .slick-slide .overlay .primary-link:focus {
  outline: 4px dashed black;
  outline-offset: 3px;
}
.hero-slider .slick-slide .background-image {
  width: 100%;
  height: auto;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero-slider .slick-slide .background-image {
    width: auto;
    height: 400px;
    margin: 0 auto;
  }
}

main {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
  /** Documentation under carousel */
}
main .content {
  padding: 20px 15%;
  color: rgba(0, 0, 0, 0.9);
  line-height: 26px;
}
main .content h1 {
  line-height: 36px;
}
main .content a {
  color: black;
  font-weight: bold;
}
main .content a:hover, main .content a:focus {
  color: royalblue;
}
main .content li {
  margin-bottom: 15px;
  padding-left: 5px;
}
main .content code {
  background-color: rgba(0, 0, 0, 0.05);
  color: red;
  padding: 2px 8px;
}
main .content .btn {
  margin-top: 30px;
  font-size: 18px;
  padding: 10px 20px;
}

/** Generic ghost button styles */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;
  text-decoration: none;
  transition: all 0.1s linear;
}
.btn:hover, .btn:focus {
  background-color: black;
  color: white !important;
  text-decoration: underline;
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
  outline: 4px dashed black;
  outline-offset: 2px;
}
