/*********** HTML Styles ************/
html {
  height: 100%;
}

body {
  font-family: 'Montserrat, sans-serif';
  line-height: 1.5;
  min-height: 100%;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

/* Container Section */
.container-fluid {
  padding: 3% 15%;
}

#title .container-fluid {
  padding:0 15% 2%;
}
/*********** Class Styles ************/

.bg-red {
  background-color: #ff4c68;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color:#505050;
}

.bg-peach{
  background-color: #ef8172;
  color: #fff;
}

#features {
  position: relative;
  z-index: 1;
}

/* Navigation Bar */
#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu, sans-serif";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.title-row {
  text-align:left;
  transition: ease all .5s;
}

@media (max-width: 991px) {
  .title-row {
    text-align: center;
    transition: ease all .5s;
  }
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.btn-dark:hover {
  background-color: #757575;
  border-color: #757575;
}

.fa-google-play:before {
  margin-right: 10px;
}

.fa-apple:before {
  margin-right: 10px;
}

/* Title Image */
.img-rotated-20 {
  transform: rotate(25deg);
  width: 200px;
  position: absolute;
  transition: ease all .5s;
}

@media (max-width: 991px) {
  .img-rotated-20 {
    display: block;
    position: static;
    transform: rotate(0);
    margin: auto;
    transition: ease all .5s;
  }
}

#features {
  z-index: 1;
  position: relative;
  width: 60%;
  margin: auto;
  padding-top: 20px;
  transition: ease all .5s;
}

/* Features Section */
@media (max-width: 991px) {
  #features {
    position: static;
    transition: ease all .5s;
  }
}

.feature-box {
  padding: 3%;
}

.feature-box p {
  color: #8f8f8f;
}

.icon:hover {
  color: #ff4c68;
}

.icon {
  color: #ef8172;
}

/* Testimonials Section */
.img-testimonials {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press Section */
#press {
  padding-bottom: 3%;
}

.img-press-logo {
  width: 15%;
  margin: 20px 50px 20px;
}

/* Pricing Section */
.pricing-banner {
  width: 80%;
  margin: 3% auto;
}

.card-row {
  margin: 20px;
}

.card>div.card-header {

}

.card {
  margin-bottom: 10px;
  height: 350px;
  line-height: 1;
}

/* CTA and Footer  */


.btn-footer {
  margin: 20px 10px;
}


.socials a {
  text-decoration: none;
  color: lightgrey;
}

.footer-icon {
  margin-right: 10px;
}

.footer-icon:hover {
  color: #ef8172
}
